@media(max-width: 377px){
    .header{
       &__greeting{
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
    }
        &__invitation{
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
        }
}
}