*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';  
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header{
    background-image: url('../img/background_header.svg#svgView(preserveAspectRatio(none))');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center;
    max-width: 1833.52px;
    height: 966.31px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.header__greeting{
    max-width: 768px;
    min-height: 156px;
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 24px;
}
.header__invitation{
    max-width: 720px;
    min-height: 64px;
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 48px;
}
.header__play-button{
    width: 247px;
    height: 66px;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
}
.header__play-button:hover{
    background: rgba(255, 255, 255, 1);
    color: rgba(32, 32, 39, 1);
    cursor: pointer;
}
.menu{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgba(188, 236, 48, 1);
    max-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 51px;
    padding: 27px 49px 27px 49px;
    overflow: hidden;
    white-space: nowrap;
}
.menu__game{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
}
.background{
    padding-bottom: 144px;
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.about__heading{
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 94px;
}
.about__text{
    max-width: 788px;
    min-height: 96px;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 72px;
}
.game-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}
.game-box_about{
    min-width: 1201px;
    flex-direction: row;
    flex-wrap: wrap;
}
.game-box_about-end{
    align-items: flex-end;
}
.game{
    max-width: 378px;
    text-decoration: none;
    flex: 1 1 calc(33.333% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    box-shadow: 0px 12.612295150756836px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
}
.game:hover{
    transform: scale(1.07)
}
.game__img{
    max-width: 378px;
}
.game__description{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 32px 32px 36px 32px;
}
.game__text{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    padding: 8px 16px 10px 16px;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
}
.game__name{
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}
.mini-game{
    padding-top: 96px;
}
.mini-game__text{
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 72px;
}
.game-box_play{
        flex-direction: column;
}
.game-card{
    background: rgba(255, 255, 255, 1);
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.game-card-revers{
    flex-direction: row-reverse;
}
.game-card__img{
    width: 600px;
    height: 500px;
}
.game-card__description{
    width: 504px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 48px;
}
.game-card__name{
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
}
.game-card__text{
    padding-top: 24px;
    padding-bottom: 36px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.game-card__play{
    width: 247px;
    height: 66px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    padding: 16px 28px 16px 28px;
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
}
.footer{
    height: 150px;
    background: rgba(189, 237, 53, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer__def{
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
@import "_mobile";